[package]
name = "libp2p-discv5"
edition = "2018"
version = "0.1.0"
description = "Implementation of the devp2p discv5 discovery method"
authors = ["Age Manning <Age@AgeManning.com>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking", "discovery", "devp2p"]
categories = ["network-programming", "asynchronous"]

[dependencies]
libsecp256k1 = "^0"
libp2p-core = { version = "0.13.1", path = "../../core" }
libp2p-swarm = { version = "0.3.0", path = "../../swarm" }
multiaddr = { package = "parity-multiaddr", version = "0.6.0", path = "../multiaddr" }
multihash = { package = "parity-multihash", version = "0.2.0", path = "../../misc/multihash" }
enr = { path = "../enr", features = ["libp2p", "ed25519"] }
bigint = "4.2"
futures = "0.1"
log = "0.4"
smallvec = "0.6"
tokio-io = "0.1.12"
tokio-udp = "0.1.5"
tokio-timer = "0.2.11"
void = "1.0"
rlp = "0.4.3"
sha2 = "0.8.0"
hkdf = "0.8.0"
zeroize = "0.6.0"
openssl = "0.10.23"
hex = "0.4.0"
fnv = "1.0.6"
arrayvec = "0.4.10"
digest = "0.8.1"
rand = "0.7.3"

[dev-dependencies]
libp2p-secio = { version = "0.13.0", path = "../../protocols/secio" }
libp2p-yamux = { version = "0.13.0", path = "../../muxers/yamux" }
libp2p-tcp = { version = "0.13.0", path = "../../transports/tcp" }
quickcheck = "0.9.0"
env_logger = "0.6.1"
simple_logger = "1.3.0"
tokio = "0.1.22"
rand_xorshift = "0.2.0"
rand_core = "0.5.1"
