[package]
name = "discv5"
authors = ["Age Manning <Age@AgeManning.com>"]
edition = "2018"
version = "0.1.0-beta.1"
description = "Implementation of the p2p discv5 discovery protocol"
license = "MIT"
repository = "https://github.com/sigp/discv5"
readme = "./README.md"
keywords = ["peer-to-peer", "libp2p", "networking", "discovery", "discv5"]
categories = ["network-programming", "asynchronous"]
exclude = [
	".gitignore",
	".github/*"
]

[dependencies]
enr = { version = "0.4.0", features = ["k256", "ed25519"] }
tokio = { version = "0.2.22", features = ["net", "stream", "time", "sync"] }
zeroize = { version = "1.1.1", features = ["zeroize_derive"] }
libp2p-core = { version = "0.22.1", optional = true }
multihash = { version = "0.11.4", optional = true }
futures = "0.3.6"
uint = { version = "0.8.5", default-features = false }
rlp = "0.4.6"
sha2 = "0.9.1"
hkdf = "0.9.0"
hex = "0.4.2"
fnv = "1.0.7"
arrayvec = "0.5.1"
digest = "0.9.0"
rand = "0.7.3"
smallvec = "1.4.2"
parking_lot = "0.11.0"
lru_time_cache = "0.11.1"
lazy_static = "1.4.0"
aes-gcm = "0.7.0"
socket2 = "0.4.4"
aes = { version = "0.7.5", features = ["ctr"] }
k256 = { version = "0.5.9", features = ["zeroize", "ecdh", "sha2"] }
tracing = "0.1.21"
tracing-subscriber = "0.2.13"

[dev-dependencies]
quickcheck = "0.9.2"
hex-literal = "0.3.1"
simple_logger = "1.11.0"
tokio = { version = "0.2.22", features = ["time", "rt-threaded", "macros"] }
rand_xorshift = "0.2.0"
rand_core = "0.5.1"

[features]
libp2p = ["libp2p-core", "multihash"]
